body {
  height: 3000px; /* Used to enable scrolling */
  background: linear-gradient(55deg, #3b92d2, #5abde0, #0692ad, #57c2d6, #5e8ede );
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}